# Eclipse
/bin
/.classpath
/.project
/.settings/
/.metadata/

# Gradle
/.gradle
/build
/out

# IntelliJ
/*.iml
/*.ipr
/*.iws
/.idea
/classes

# Java
*.class
*.ear
/*.jar
*.war
/dist/

#git
/.gitignore
