# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Gradle Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        java: [ '17', '21', '23' ]

    steps:
    - uses: actions/checkout@v4

    - name: Verify gradle wrapper
      uses: gradle/actions/wrapper-validation@v4
      if: matrix.java == '17'

    - name: Set up JDK ${{ matrix.java }}
      uses: actions/setup-java@v4
      with:
        java-version: ${{ matrix.java }}
        distribution: 'temurin'

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    # Note: Assumes we're running on Ubuntu
    # https://github.com/actions/runner-images/blob/main/images/ubuntu/Ubuntu2404-Readme.md
    - name: Build with Gradle
      run: xvfb-run ./gradlew build jacocoTestReport -xsign -xpublish --warning-mode all

    - name: Submit coverage data to codecov
      uses: codecov/codecov-action@v5
      if: matrix.java == '17'
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        disable_search: true
        files: ./RSyntaxTextArea/build/reports/jacoco/test/jacocoTestReport.xml
        name: codecov
